    <p>Un quiz es un cuestionario sobre algún tema particular. Se deberá escribir la respuesta en el recuadro habilitado para ello. El objetivo de este quiz es mejorar las competencias del que lo haga en las materias sobre las que se pregunta.</p>
